/* ==================================
        TABLETS
================================== */


@media(max-width:1024px){



.header{


padding:20px 30px;


}



.nav-menu{


gap:20px;


}




.hero{


flex-direction:column;

text-align:center;

padding-top:150px;


}



.hero-content{


max-width:700px;


}



.hero-buttons{


justify-content:center;


}



.hero-image{


margin-top:60px;

width:350px;

height:350px;


}



.about-container{


flex-direction:column;


}



.about-left{


text-align:center;

margin:auto;


}



.about-right{


justify-content:center;

flex-wrap:wrap;


}




.products-grid{


grid-template-columns:repeat(2,1fr);


}



.agenda-container{


flex-direction:column;

align-items:center;


}



#contact-form{


width:100%;

max-width:450px;


}



.location-container{


flex-direction:column;


}


}

@media(max-width:600px){



.header{


padding:18px 20px;


}



.logo{


font-size:20px;


}



.nav-menu{


display:none;


}



.whatsapp-btn{


padding:10px 15px;

font-size:12px;


}





.hero{


padding:120px 25px 50px;


}



.hero h1{


font-size:42px;

letter-spacing:-1px;


}



.hero p{


font-size:15px;


}



.hero-buttons{


flex-direction:column;


}



.btn-primary,
.btn-secondary{


text-align:center;


}




.hero-image{


width:280px;

height:280px;


}



.insurance-card{


width:260px;

height:180px;

padding:30px;


}




.about-section,
.products-section,
.agenda-section,
.faq-section,
.location-section{


padding:80px 25px;


}




.about-left h2,
.agenda-text h2,
.location-info h2,
.faq-header h2{


font-size:36px;


}



.about-right{


grid-template-columns:1fr;


}



.info-card{


width:100%;

height:140px;


}



.products-grid{


grid-template-columns:1fr;


}



.product-card{


padding:30px;


}



.faq-item{


padding:20px;


}



.map-container{


height:300px;


}



.whatsapp-floating{


width:55px;

height:55px;

font-size:25px;

right:20px;

bottom:20px;


}



}